/* scss variables */

/* color schemes */
$main-color: rgb(60, 75, 255);
$secondary-color: rgb(15,25,30);


* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family:'Lucida Sans Unicode', 'Lucida Sans', Arial, sans-serif;
    color: white;
    border: none;
    overflow: none;
}


body {
    background-color: $secondary-color;
}


/* navbar styles */
#navbar-wrapper {
    height: 55px;
    width: 85vw;
    padding-right: 7.5vw;
    padding-left: 7.5vw;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0,0,0,.0);
    transition: ease-in-out;
    transition-duration: 350ms;
}
#navbar-logo {
    display: flex;
    font-weight: 100;
    gap: 2px;
    letter-spacing: 1px;
    z-index: 10;
}
#navbar-github-button {
    height: 1.6vw;
    width: 1.6vw;
    margin-left: 15px;
    margin-top: .7vh;
    padding: 0;
    background-image: url(/src/img/github-logo.png);
    background-size: contain;
}
#navbar-linkedin-button {
    height: 1.6vw;
    width: 1.6vw;
    margin-top: .7vh;
    padding: 0;
    background-image: url(/src/img/linkedin-logo.png);
    background-size: contain;
}
.navbar-logo-bold {
    font-weight: 1000;
}
#navbar-list {
    display: flex;
    gap: 40px;
}
.navbar-list-item {
    padding: 5px;
    list-style: none;
}
.navbar-list-item:hover {
    cursor: pointer;
}
#mobile-dropdown-icon {
    height: 7vw;
    width: 7vw;
    display: none;
    background-image: url(/src/img/mobile-menu-icon.png);
    background-size: cover;
    cursor: pointer;
    z-index: 2;
}
#mobile-navbar-wrapper {
    display: flex;
    height: 100vh;
    width: 0vw;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
    opacity: .95;
    transition: ease-in-out;
    transition-duration: 350ms;
}
#mobile-navbar-list {
    position: relative;
    bottom: 10vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
.mobile-navbar-list-item {
    padding: 5px;
    list-style: none;
}
#mobile-navbar-icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}
.mobile-navbar-link-icon {
    height: 5vw !important;
    width: 5vw !important;
    margin-left: 0px !important;
    margin-top: 30px !important;
}


/* hero section styles */
#hero-section-background {
    height: 120vh;
    display: block;
    background-image: url(/src/img/hero-image-2.webp);
    background-size: contain;
    background-repeat: round;
}
#hero-section-wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $main-color;
    z-index: -5;
}
#hero-section-header {
    position: relative;
    bottom: 4vh;
    padding-right: 20vw;
    padding-left: 20vw;
    text-align: center;
    font-size: 6.3vw;
    font-weight: 1000;
    line-height: 15vh;
}
#hero-section-arrow {
    height: 30px;
    width: 30px;
    position: fixed;
    left: 50vw;
    top: 87vh;
    transform: translate(-50%, -50%);
    background-image: url(/src/img/down_arrow.png);
    background-size: contain;
    animation: bounce 1000ms;
    animation-iteration-count: infinite;
    cursor: pointer;
}
@keyframes bounce {
    0% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-50%, -20%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}


/* about section styles */
#about-section-wrapper {
    height: 100vh;
    display: flex;
}
#about-section-picture {
    width: 50vw;
    background-image: url(/src/img/about-section-img.jpg);
    background-size: cover;
    background-position: center;
}
#about-section-info {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: $secondary-color;
}
#about-section-info-header {
    margin-left: 10%;
    text-align: left;
    color: $main-color;
    font-weight: bold;
    font-size: 2rem;
}
#about-section-info-paragraph {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-weight: 100;
}


/* project section styles */
#project-section-background {
    background-color: $main-color;
}
#project-section-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-image: url(/src/img/hero-image-2.webp);
    background-repeat: round;
    overflow: hidden;
}
#project-section-header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    font-size: 2rem;
    color: $secondary-color;
}
#carousel {
    position: relative;
    height: 100%;
    width: 100%;
    margin-bottom: 10vh;
}
#carousel-track-container {
    position: relative;
    height: 100%;
    width: 80%;
    margin: auto;
}
#carousel-track {
    height: 100%;
    width: 100%;
    position: absolute;
    list-style: none;
    transition: 1000ms;
}
.carousel-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: 1000ms;
}
#current-slide {
    opacity: 1;
}
.carousel-image {
    height: 100%;
    width: 100%;
    background-size: contain;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 50%;
    
}
#carousel-slide-1 {
    background-image: url(/src/img/project-image-1.png);
}
#carousel-slide-2 {
    background-image: url(/src/img/project-image-2.jpg);
}
#carousel-slide-3 {
    background-image: url(/src/img/project-image-3.jpg);
}
.carousel-button {
    height: 6vw;
    width: 6vw;
    position: absolute;
    top: 45%;
    cursor: pointer;
    background-size: contain;
    background-image: url(/src/img/carousel-arrow.png);
    background-repeat: no-repeat;
}
#carousel-button-left {
    left: 2vw;
    z-index: 1;
    transform: scaleX(-1);
    opacity: .3;
}
#carousel-button-right {
    right: 2vw;
    opacity: .8;
}


/* contact-section-styles */
#contact-section-wrapper {
    height: 100vh;
    width: 85%;
    margin: auto;
    display: flex;
}
#contact-section-call-to-action {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: $secondary-color;
}
#contact-section-call-header {
    text-align: left;
    color: $main-color;
    font-weight: bold;
    font-size: 2rem;
}
#contact-section-call-to-action-statement {
    font-size: 3rem;
}
.big-font {
    font-size: 4;
}
#contact-section-call-paragraph {
    margin-right: auto;
    margin-left: auto;
    font-weight: 100;
}
#contact-section-form {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
    z-index: 0;
    background-color: $secondary-color !important;
}
#form-submit-button {
    height: 80px;
    width: 100px;
    margin-top: 5vh;
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: rgb(30,40,45);
}
#form-submit-button:hover {
    cursor: pointer;
    border: 1px solid whitesmoke;
    background-color: $main-color;
}
#contact-section-form label {
    margin-top: 2vh;
}
#contact-section-form input, textarea{
    margin-bottom: 3.5;
    padding: 7px;
    border: none;
    border-radius: 10px;
    background-color: rgb(30,40,45);
}


/* footer styles */
#footer-wrapper {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
}
#footer-nav-list {
    width: 85%;
    display: flex;
    justify-content: center;
    gap: 8vw;
    list-style: none;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-top: 1px solid rgb(30,40,45);
    border-bottom: 1px solid rgb(30,40,45);
    z-index: 1;
}
.footer-nav-list-item:hover {
    cursor: pointer;
}
#footer-code-link {
    margin-top: 4vh;
    margin-bottom: 8vh;
    z-index: 2;
}


@media only screen and (max-width: 800px) {
    #navbar-wrapper {
        font-size: .9rem;
    }
    #navbar-list {
        display: none;
    }
    #mobile-dropdown-icon {
        display: block;
    }

    #hero-section-background {
        height: 100vh;
        background-size: cover;
    }
    #hero-section-header {
        font-size: 2.5rem;
        line-height: 8vh;
        bottom: 8vh;
    }
    #hero-section-arrow {
        display: none;
    }

    #about-section-wrapper {
        flex-direction: column;
        background-color: $secondary-color;
    }
    #about-section-picture {
        height: 50vh;
        width: 100vw;
        border: 15px inset $secondary-color;
        box-sizing: border-box;
        background-position: 0% 10%;
    }
    #about-section-info {
        height: 50vh;
        width: 100vw;
    }
    
    #project-section-wrapper {
        height: 40vh;
        background-repeat: round;
    }
    #project-section-header {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    .carousel-button {
        height: 10vw;
        width: 10vw;
    }

    #contact-section-wrapper {
        height: 80vh;
        width: 85vw;
        flex-direction: column;
        gap: 0px;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
    #contact-section-call-to-action {
        gap: 5px;
    }
    #contact-section-call-to-action-statement {
        font-size: 2.05rem;
    }
    #contact-section-form {
        height: 50vh;
        width: 100%;
        padding-left: 0vw;
    }
    #contact-section-call-to-action {
        height: 50vh;
        width: 100%;
    }
}